.topic {
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 50px;
    color:#062F4F;
    text-shadow: 3px 3px #000000;
    margin-top: 250px;
    z-index: 1;
     
}
.name{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 20px;
}
@media (min-width: 300px){
  .topic {
    font-size: 30px;
    text-shadow: 2px 2px #000000;
  }
}
@media (min-width: 500px){
  .topic {
    font-size: 50px;
    text-shadow: 3px 3px #9099A2;
  }
}

.landing {
  background: #d0e4f7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d0e4f7 0%, #73b1e7 0%, #0a77d5 52%, #539fe1 100%, #87bcea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d0e4f7 0%,#73b1e7 0%,#0a77d5 52%,#539fe1 100%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d0e4f7 0%,#73b1e7 0%,#0a77d5 52%,#539fe1 100%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
    height: 100%;
    min-height: 100vh;
    z-index: -1;
}

a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #AB987A !important;
    cursor: pointer;
  }
  
  a:active {
    color: whitesmoke;
  }
  
  a:visited {
    color: whitesmoke;
    ;
  }
